@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --bg-background: #0A1619;
    --bg-green: #091D18;
    --bg-main-green: #00E3A5; 
    --bg-titles-white: #F5FBF2;
    --bg-second-green: #80AB9E;
    --bg-black: #181818;
    --bg-gray: #9E9E9E;
    --bg-blue: #BDF3FF;
}

html, body {
    width: 100%;
    max-width: 100%;
  }

body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
}

.header {
    background-color: var(--bg-black);
    background-image: url('assets/img/image.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    padding: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #09251E 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

.company_name {
    color: var(--bg-titles-white);
    font-weight: 400;
    font-size: 45px;
}

.dot {
    color: var(--bg-main-green);
}

.lista__links {
    display: flex;
    gap: 72px;
    list-style: none;
}

.lista__links .paginas{
    text-decoration: none;
    color: var(--bg-titles-white);
    font-size: 18px;
    display: inline-block;
    padding-bottom: 0.25rem; 
    position: relative;
}

.paginas::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--bg-main-green);
    transition: width 0.25s ease-out;
  }

  .paginas:hover {
        color: var(--bg-main-green);
  }

  .paginas:hover::before {
    width: 70%;
  }


.btn-join {
    color: var(--bg-titles-white);
    text-decoration: none;
    border: 1px solid var(--bg-main-green);
    padding: 24px 48px;
    border-radius: 5px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 100px;
}

.btn-whitepaper {
    text-decoration: none;
    background-color: var(--bg-main-green);
    color: var(--bg-black);
    position: absolute;
    margin-top: 4rem;
    padding: 1.5rem;
    width: 13%;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px var(--bg-main-green), inset 0 0 15px var(--bg-second-green);
}

.main .titles h3 {
    font-weight: 400;
    font-size: 28px;
    color: var(--bg-second-green);
    margin-bottom: 0;
}

.main .titles h2 {
    margin-top: 6px;
    font-weight: 700;
    font-size: 40px;
    color: var(--bg-titles-white);
}

.main img {
  width: 65%;
}

.title-achievements {
    color: var(--bg-second-green);
    text-align: center;
    font-weight: 400;
    font-size: 24px; 
    margin-bottom: 1rem;
}

.text-achievements {
    text-align: center;
    color: var(--bg-titles-white);
    font-weight: 700;
    font-size: 36px;
}
 
.achievements-metrics {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.title-metrics {
    color: var(--bg-main-green);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 1rem;
}

.text-metrics {
    color: var(--bg-gray);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.world-image {
    display: flex;
    justify-content: center;
}

.world-image img {
    max-width: 100%;
}


.companies-list {
    border-radius: 130px;
    padding: 5rem;
    margin: 0 2rem 2rem 2rem;
    display: flex;
    background-color: var(--bg-green);
    justify-content: space-between;
    align-items: center;
}

.companies-list li img {
    opacity: 30%;
}

.about-us {
    max-width: 100%;
    display: grid;
    margin-top: 5rem;
    gap: 20rem;
    grid-template-columns: 40% 60%;
    background: #09251E 0.2;
    background-image: url(assets/img/about-us-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-us h2 {
    font-weight: 700;
    font-size: 36px;
    color: #F5FBF2;
}

.about-us-text {
    margin-top: 5rem;
    margin-left: 5rem;
}

.about-us-text p {
    margin-top: 3rem;
    color: var(--bg-second-green);
    font-weight: 400;
    line-height: 32px;
    font-size: 20px;
    margin-bottom: 5rem;
}

.attributes {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    gap: 1.5rem;
}

.attributes-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) -30.29%, rgba(255, 255, 255, 0) 144.92%);
    backdrop-filter: blur(25px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 18.75rem;
    height: 14.313rem;
}

.attributes-square h3 {
    color: var(--bg-blue);
    font-size: 22px;
}

.attributes > div:nth-child(2) {
    position: absolute;
    right: 0;
    top: 130px;
    left: 350px;
    z-index: 10;
}

.info {
    position: absolute;
    z-index: 0;
    text-align: center;
}

.blur-image {
    position: relative;
    
}

.left {
    top: -4rem;
    left: -3rem;
}

.right {
    top: -4.5rem;
    right: -3rem;
}
 
.attributes > div:nth-child(3) {
    position: relative; 
    left: 105px;
}

.attributes > div:nth-child(4) {
    position: relative;
    top: -120px;
    left: 435px;
}

.btn-learn {
    margin-top: 50px;
    color: var(--bg-titles-white);
    text-decoration: none;
    border: 1px solid var(--bg-main-green);
    padding: 24px 100px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 18px;
}


.how-we-work h2 {
    color: var(--bg-titles-white);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}


.list {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    background: rgba(9, 29, 24, 0.5);
    border-radius: 50px;
    margin-top: 2rem;
    padding: 30px;
    background-image: url(/assets/img/bg-list.png);
    background-position: cover;
    background-repeat: no-repeat;
}

.div-right {
    margin-left: 80px;
    margin-right: -150px;
}

.div-left {
    margin-right: 80px;
    margin-left: -150px;
}

.first-half {
    display: flex;
    align-items: center;
}

.list-number-right {
    margin-left: 30px;
    margin-right: 20px;
    background-color: transparent;
    font-weight: 700;
    font-size: 129px;
    color: var(--bg-second-green);
}

.list-number-left {
     background-color: transparent;
     font-weight: 700;
     font-size: 129px;
     color: var(--bg-second-green);
     margin-right: 30px;
     margin-left: 20px;
 }
 

.list-title {
    font-weight: 700;
    font-size: 24px;
    color: var(--bg-titles-white);
    margin-bottom: 15px;
}

.list-text {
    font-weight: 400;
    font-size: 18px;
    color: var(--bg-second-green);
}

.text-right {
    text-align: right;
}

.users-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.users-reviews h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    color: #F5FBF2; 
    text-align: center;
}

.swiper {
    display: flex;
    align-items: center;
    width: 70%;
    
}

.user-picture {
    border-radius: 50%;
    width: 180px;
    border: 4px solid var(--bg-main-green);
}

.card {
    height: 300px;
    background-color: var(--bg-green);
    border-radius: 319.5px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 40% 60%;
    
}

.card-text {
    background: url(assets/img/quote.png);
    background-position: top left;
    background-repeat: no-repeat;
    margin-right: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.user-text {
    font-weight: 300;
    font-size: 18px;
    color: var(--bg-second-green);
    text-align: justify;
}

.user-name {
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    color: var(--bg-second-green);
}
